<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aac.optics.wlg.report.mapper.ProductionReportMapper">


    <select id="findProductionMonthReportByCondition" resultType="map">
        WITH TEMP_PRODUCTION_PLAN AS (
        select
            b.code as code,
            b.name as name,
            b.project_name    as     projectName,
        (select sum(c.plan_value) from production_plan c
            where c.code = b.code
            and c.project_name = b.project_name
            <if test="dateStart != null">
                AND c.plan_date >= #{dateStart}
            </if>
            <if test="dateEnd != null">
                AND c.plan_date &lt;= #{dateEnd}
            </if>
            ) as sumQty,
        ${selectColumn}
        from (select code, name, project_name, plan_value, plan_date from production_plan
        where 1=1
        <if test="projectName != '' and projectName != null">
            AND project_name = #{projectName}
        </if>
        <if test="dateStart != null">
            AND plan_date >= #{dateStart}
        </if>
        <if test="dateEnd != null">
            AND plan_date &lt;= #{dateEnd}
        </if>
        ) as a
        pivot(sum(plan_value) for plan_date in (${pivotIn})) as b
        group by b.project_name, b.code, b.name),

        TEMP_PRODUCTION_ACTUAL_VALUE AS (
            SELECT project_name, actual_date, code, sum(actual_value) actual_value
            FROM production_actual
            UNPIVOT (actual_value
            FOR code IN ( performance_yield, after_yield
            )) as a
            where 1=1
            <if test="projectName != '' and projectName != null">
                AND project_name = #{projectName}
            </if>
            <if test="dateStart != null">
                AND actual_date >= #{dateStart}
            </if>
            <if test="dateEnd != null">
                AND actual_date &lt;= #{dateEnd}
            </if>
            group by project_name, actual_date, code
            union all
            SELECT project_name, actual_date, code, sum(actual_value) actual_value
            FROM production_actual
            UNPIVOT (actual_value
            FOR code IN ( estimate_hole_qty, mold_press_input_qty, mold_press_output_qty, after_acquisition_qty, after_input_qty, after_output_qty
            )) as b
            where 1=1
            <if test="projectName != '' and projectName != null">
                AND project_name = #{projectName}
            </if>
            <if test="dateStart != null">
                AND actual_date >= #{dateStart}
            </if>
            <if test="dateEnd != null">
                AND actual_date &lt;= #{dateEnd}
            </if>
            group by project_name, actual_date, code
        ),
        TEMP_PRODUCTION_ACTUAL AS (
            select d.project_name projectName,
                    d.code,
                    CASE WHEN d.code = 'after_acquisition_qty' THEN '实际后道领料(PCS)'
                    WHEN d.code = 'after_input_qty' THEN '后道实际投料(PCS)'
                    WHEN d.code = 'after_output_qty' THEN '实际后道产出（颗)'
                    WHEN d.code = 'estimate_hole_qty' THEN '实际预估收穴数'
                    WHEN d.code = 'mold_press_input_qty' THEN '实际模压投入片数（PCS)'
                    WHEN d.code = 'mold_press_output_qty' THEN '实际模压产出片数(PCS)'
                    WHEN d.code = 'performance_yield' THEN '实际性能良率'
                    WHEN d.code = 'after_yield' THEN '实际后道良率'
                    ELSE d.code END as name,
                    (select sum(TEMP_PRODUCTION_ACTUAL_VALUE.actual_value)
                    from TEMP_PRODUCTION_ACTUAL_VALUE
                    where TEMP_PRODUCTION_ACTUAL_VALUE.code = d.code
                    and TEMP_PRODUCTION_ACTUAL_VALUE.project_name = d.project_name
                    <if test="dateStart != null">
                        AND TEMP_PRODUCTION_ACTUAL_VALUE.actual_date >= #{dateStart}
                    </if>
                    <if test="dateEnd != null">
                        AND TEMP_PRODUCTION_ACTUAL_VALUE.actual_date &lt;= #{dateEnd}
                    </if>
                    ) sumQty,
                    ${selectColumn}
                from (SELECT * FROM TEMP_PRODUCTION_ACTUAL_VALUE
                ) as c
                pivot (max(actual_value) for actual_date in (${pivotIn})) as d
            group by d.project_name, d.code
        ),
        TEMP_PRODUCTION_REPORT AS (
            SELECT projectName, code, name, sumQty, ${selectDateColumn}  from TEMP_PRODUCTION_PLAN
            UNION ALL
            SELECT '汇总' projectName, code, name, sum(sumQty) sumQty, ${selectColumn} from TEMP_PRODUCTION_PLAN
            group by code, name
            UNION ALL
            SELECT projectName, code, name, sumQty, ${selectDateColumn} from TEMP_PRODUCTION_ACTUAL
            UNION ALL
            SELECT '汇总' projectName, code, name, sum(sumQty) sumQty, ${selectColumn} from TEMP_PRODUCTION_ACTUAL
            group by code, name
        )
        SELECT ROW_NUMBER() OVER ( ORDER BY projectName, code ) AS seq, * FROM TEMP_PRODUCTION_REPORT
        ORDER BY projectName, code
    </select>


    <select id="findProductionReportDateByCondition" resultType="string">
        select distinct CONVERT(varchar(100), plan_date, 23) produciton_date
        from production_plan
        where 1=1
        <if test="projectName != '' and projectName != null">
            AND project_name = #{projectName}
        </if>
        <if test="dateStart != null">
            AND plan_date >= #{dateStart}
        </if>
        <if test="dateEnd != null">
            AND plan_date &lt;= #{dateEnd}
        </if>
        union
        select distinct CONVERT(varchar(100), actual_date, 23) produciton_date
        from production_actual
        where 1=1
        <if test="projectName != '' and projectName != null">
            AND project_name = #{projectName}
        </if>
        <if test="dateStart != null">
            AND actual_date >= #{dateStart}
        </if>
        <if test="dateEnd != null">
            AND actual_date &lt;= #{dateEnd}
        </if>
        order by produciton_date
    </select>



    <select id="findProductionDayReportByCondition" resultType="map">
        SELECT ROW_NUMBER() OVER ( ORDER BY productionDate, projectName, mold, cycle ) AS seq,
        productionDate, projectName, mold, cycle, JHXUESHU, JHHDCHANCHU,JHCHANCHU ,estimateHoleQty
        from (
            select
            case when c.actual_date is not null then c.actual_date else b.plan_date end productionDate,
            case when c.project_name is not null then c.project_name else b.project_name end projectName,
            case when c.mold is not null then c.mold else b.mold end                         mold,
            case when c.cycle is not null then c.cycle else b.cycle end                      cycle,
            b.JHXUESHU,
            b.JHHDCHANCHU,
            b.JHCHANCHU,
            c.estimate_hole_qty                                                              estimateHoleQty
            FROM (SELECT plan_date, project_name, mold, cycle, code, plan_value
            FROM production_plan
            where 1 = 1
                <if test="projectName != '' and projectName != null">
                    AND project_name = #{projectName}
                </if>
                <if test="dateStart != null">
                    AND plan_date >= #{dateStart}
                </if>
                <if test="dateEnd != null">
                    AND plan_date &lt;= #{dateEnd}
                </if>
            ) AS a
            PIVOT (max(plan_value) FOR code IN ([JHXUESHU], [JHHDCHANCHU], [JHCHANCHU])) AS b
            FULL JOIN (select actual_date, project_name, mold, cycle, sum(ISNULL(estimate_hole_qty, 0)) estimate_hole_qty
            from production_actual
            where 1=1
                <if test="projectName != '' and projectName != null">
                    AND project_name = #{projectName}
                </if>
                <if test="dateStart != null">
                    AND actual_date >= #{dateStart}
                </if>
                <if test="dateEnd != null">
                    AND actual_date &lt;= #{dateEnd}
                </if>
            group by actual_date, project_name, mold, cycle) c
            ON c.project_name = b.project_name
            and c.mold = b.mold
            and c.cycle = b.cycle
            and c.actual_date = b.plan_date) as t
        order by productionDate, projectName, mold, cycle

    </select>

</mapper>
