<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aac.optics.provider.jira.mapper.IssueDataMapper">

    <insert id="insertIssueData" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
  		INSERT INTO JIRA_00_ISSUE([ISSUE_ID], [ISSUE_KEY], [ISSUE_NAME], [EKP_ISSUE_NO], [ISSUE_TYPE], [DOMAIN]
  		                         ,[STATUS], [START_TIME], [END_TIME], [BUSINESS_OWNER], [BUSINESS_COST]
  		                         ,[DEVELOP_OWNER], [DEVELOP_COST], CREATE_TIME, UPDATE_TIME, FINISH_FLAG)
  		VALUES(#{ISSUE_ID}, #{ISSUE_KEY}, #{ISSUE_NAME}, #{EKP_ISSUE_NO}, #{ISSUE_TYPE}, #{DOMAIN}
  		       , #{STATUS}, convert(datetime, #{START_TIME}, 120), convert(datetime, #{END_TIME}, 120)
  		       , #{BUSINESS_OWNER}, #{BUSINESS_COST}, #{DEVELOP_OWNER},#{DEVELOP_COST}, GETDATE(), NULL, 0)
	</insert>

    <select id="getIssueByKey" parameterType="java.lang.String" resultType="com.aac.optics.provider.jira.entity.IssueData">
        SELECT TOP 1 I.*
        FROM JIRA_00_ISSUE I
        WHERE I.ISSUE_KEY LIKE ('%' + #{ISSUE_KEY} + '%')
    </select>

	<insert id="insertDashboardIssue" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
  		INSERT INTO JIRA_00_DASHBOARD_ISSUE(DASHBOARD_ID, ISSUE_KEY,  CREATE_TIME, UPDATE_TIME)
  		VALUES(#{DASHBOARD_ID}, #{ISSUE_KEY},  GETDATE(), GETDATE())
	</insert>

	<insert id="insertWorkLog" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
  		INSERT INTO JIRA_00_WORKLOG(ISSUE_KEY, WORKLOG_DESC, WORKLOG_DATE, COST,  CREATE_TIME, UPDATE_TIME)
  		VALUES(#{issueKey}, #{workLogDesc}, #{workLogDate}, #{cost},  GETDATE(), GETDATE())
	</insert>

	<delete id="deleteWorkLog" parameterType="java.lang.String">
	        DELETE FROM JIRA_00_WORKLOG WHERE
	        ISSUE_KEY = #{issueKey}
	</delete>

	<select id="getIssuesToUpdate" parameterType="Map" resultType="Map">
        SELECT    I.ISSUE_ID, I.ISSUE_KEY, ISNULL(I.EKP_ISSUE_NO, '') AS EKP_ISSUE_NO
        		, CONVERT(varchar(100), I.START_TIME, 120) AS CREATE_TIME
        		, ISNULL(BUSINESS_OWNER,'') AS BUSINESS_OWNER
        		, ISNULL(DEVELOP_OWNER,'') AS DEVELOP_OWNER
        		, ISNULL(BUSINESS_COST, 0.0) AS BUSINESS_COST
        		, ISNULL(DEVELOP_COST, 0.0) AS DEVELOP_COST
        		, ISNULL(PARENT_ID, 0) AS PARENT_ID
        FROM JIRA_00_ISSUE I
        WHERE I.FINISH_FLAG = 0
        ORDER BY ID DESC
    </select>

	<select id="getIssueByID" parameterType="java.lang.Integer" resultType="Map">
        SELECT I.ISSUE_ID, I.ISSUE_KEY, ISNULL(I.EKP_ISSUE_NO, '') AS EKP_ISSUE_NO
        		, CONVERT(varchar(100), I.START_TIME, 120) AS CREATE_TIME
        		, ISNULL(BUSINESS_OWNER,'') AS BUSINESS_OWNER
        		, ISNULL(DEVELOP_OWNER,'') AS DEVELOP_OWNER
        		, ISNULL(BUSINESS_COST, 0.0) AS BUSINESS_COST
        		, ISNULL(DEVELOP_COST, 0.0) AS DEVELOP_COST
        		, ISNULL(PARENT_ID, 0) AS PARENT_ID
        FROM JIRA_00_ISSUE I
        WHERE I.ISSUE_ID = #{parentId}
    </select>

	<update id="updateIssueLog" parameterType="Map" flushCache="true" timeout="20">
		UPDATE JIRA_00_ISSUE
		 SET STATUS = #{status}
		    ,END_TIME = convert(datetime, #{endTime}, 120)
		    ,FINISH_FLAG = #{finishFlag}
		    ,BUSINESS_COST = #{businessCost}
		    ,BUSINESS_OWNER = #{businessOwner}
		    ,DEVELOP_COST = #{developCost}
		    ,DEVELOP_OWNER = #{developOwner}
		    ,PARENT_ID = #{parentId}
		    ,EKP_ISSUE_NO = #{ekpIssueNo}
		    ,UPDATE_TIME = GETDATE()
		WHERE 1=1
		AND ISSUE_KEY = #{issueKey}
    </update>

	<select id="filterIssuesByCondition" parameterType="Map" resultType="Map">
        SELECT    DISTINCT
        		  D.DASHBOARD_NAME as dashboard
        		, I.ISSUE_ID  as issueId
        		, I.ISSUE_KEY as issueKey
        		, I.ISSUE_NAME as issue
        		, I.ISSUE_TYPE AS issueType
        		, ISNULL(I.EKP_ISSUE_NO, '') AS ekpIssueNo
        		, STATUS AS status
        		, DOMAIN AS territory
        		, CONVERT(varchar(100), I.START_TIME, 120) AS startTime
        		, CASE WHEN I.END_TIME IS NULL THEN ''
				       ELSE CONVERT(varchar(100), I.END_TIME, 120)
				  END AS endTime
        		, ISNULL(BUSINESS_OWNER,'') AS businessOwner
        		, ISNULL(DEVELOP_OWNER,'') AS developOwner
        		, ISNULL(BUSINESS_COST, 0.0) AS businessCost
        		, ISNULL(DEVELOP_COST, 0.0) AS developCost
        		, SUM(WL.COST) AS
        FROM JIRA_00_ISSUE I, JIRA_00_DASHBOARD_ISSUE DI, JIRA_00_WORKLOG WL, JIRA_00_DASHBOARD D
        WHERE I.ISSUE_KEY = WL.ISSUE_KEY
        AND I.ISSUE_KEY = DI.ISSUE_KEY
        AND DI.DASHBOARD_ID = D.DASHBOARD_ID
        AND #{boardId} LIKE ('%' + convert(varchar(50),DI.DASHBOARD_ID) + '%')
    	AND WL.WORKLOG_DATE  between  #{startTime} and #{endTime}
    </select>

	<select id="filterIssues" parameterType="Map" resultType="Map">
        (SELECT   D.DASHBOARD_NAME as dashboard
        		, I.ISSUE_ID  as issueId
        		, I.ISSUE_KEY as issueKey
        		, I.ISSUE_NAME as issue
        		, I.ISSUE_TYPE AS issueType
        		, ISNULL(I.EKP_ISSUE_NO, '') AS ekpIssueNo
        		, STATUS AS status
        		, DOMAIN AS territory
        		, ISNULL(BUSINESS_OWNER,'') AS owner
        		, SUM(WL.COST) AS cost
        FROM JIRA_00_ISSUE I, JIRA_00_DASHBOARD_ISSUE DI, JIRA_00_WORKLOG WL, JIRA_00_DASHBOARD D
        WHERE I.ISSUE_KEY = WL.ISSUE_KEY
        AND I.ISSUE_KEY = DI.ISSUE_KEY
        AND DI.DASHBOARD_ID = D.DASHBOARD_ID
        AND DI.DASHBOARD_ID != 3285
        AND #{boardId} LIKE ('%' + convert(varchar(50),DI.DASHBOARD_ID) + '%')
    	AND WL.WORKLOG_DATE  between  #{startTime} and #{endTime}
    	GROUP BY D.DASHBOARD_NAME, I.ISSUE_ID, I.ISSUE_KEY, I.ISSUE_NAME, I.ISSUE_TYPE, ISNULL(I.EKP_ISSUE_NO, ''), STATUS, DOMAIN, ISNULL(BUSINESS_OWNER, ''))
    	UNION
    	(SELECT   D.DASHBOARD_NAME as dashboard
        		, I.ISSUE_ID  as issueId
        		, I.ISSUE_KEY as issueKey
        		, I.ISSUE_NAME as issue
        		, I.ISSUE_TYPE AS issueType
        		, ISNULL(I.EKP_ISSUE_NO, '') AS ekpIssueNo
        		, STATUS AS status
        		, DOMAIN AS territory
        		, ISNULL(DEVELOP_OWNER, '') AS owner
        		, SUM(WL.COST) AS cost
        FROM JIRA_00_ISSUE I, JIRA_00_DASHBOARD_ISSUE DI, JIRA_00_WORKLOG WL, JIRA_00_DASHBOARD D
        WHERE I.ISSUE_KEY = WL.ISSUE_KEY
        AND I.ISSUE_KEY = DI.ISSUE_KEY
        AND DI.DASHBOARD_ID = D.DASHBOARD_ID
        AND DI.DASHBOARD_ID = 3285
        AND #{boardId} LIKE ('%' + convert(varchar(50),DI.DASHBOARD_ID) + '%')
    	AND WL.WORKLOG_DATE  between  #{startTime} and #{endTime}
    	GROUP BY D.DASHBOARD_NAME, I.ISSUE_ID, I.ISSUE_KEY, I.ISSUE_NAME, I.ISSUE_TYPE, ISNULL(I.EKP_ISSUE_NO, ''), STATUS, DOMAIN, ISNULL(DEVELOP_OWNER, ''))
    </select>


	<select id="findTOP10BusinessJIRA" parameterType="Map" resultType="Map">
        SELECT   TOP 10 * FROM (SELECT DISTINCT I.ISSUE_KEY as issueKey
        		, I.ISSUE_NAME as issueSummary
        		, ISNULL(I.EKP_ISSUE_NO, '') AS ekpIssueNo
        		, STATUS AS status
        		, DOMAIN AS territory
        		, ISSUE_TYPE AS issueType
        		, ISNULL(BUSINESS_OWNER,'') AS username
        		, ISNULL(BUSINESS_COST, 0.0) AS estimateTime
        FROM JIRA_00_ISSUE I, JIRA_00_DASHBOARD_ISSUE DI, JIRA_00_WORKLOG WL, JIRA_00_DASHBOARD D
        WHERE I.ISSUE_KEY = WL.ISSUE_KEY
        AND I.ISSUE_KEY = DI.ISSUE_KEY
        AND DI.DASHBOARD_ID = D.DASHBOARD_ID
        AND #{boardId} LIKE ('%' + convert(varchar(50),DI.DASHBOARD_ID) + '%')
        AND WL.WORKLOG_DATE  between  #{startTime} and #{endTime} ) AS A
        ORDER BY estimateTime DESC
    </select>

	<select id="findTOP10DevelopJIRA" parameterType="Map" resultType="Map">
        SELECT    TOP 10  * FROM (SELECT DISTINCT I.ISSUE_KEY as issueKey
        		, I.ISSUE_NAME as issueSummary
        		, ISNULL(I.EKP_ISSUE_NO, '') AS ekpIssueNo
        		, STATUS AS status
        		, DOMAIN AS territory
        		, ISSUE_TYPE AS issueType
        		, ISNULL(DEVELOP_OWNER,'') AS username
        		, ISNULL(DEVELOP_COST, 0.0) AS estimateTime
        FROM JIRA_00_ISSUE I, JIRA_00_DASHBOARD_ISSUE DI, JIRA_00_WORKLOG WL, JIRA_00_DASHBOARD D
        WHERE I.ISSUE_KEY = WL.ISSUE_KEY
        AND I.ISSUE_KEY = DI.ISSUE_KEY
        AND DI.DASHBOARD_ID = D.DASHBOARD_ID
        AND #{boardId} LIKE ('%' + convert(varchar(50),DI.DASHBOARD_ID) + '%')
        AND WL.WORKLOG_DATE  between  #{startTime} and #{endTime} ) AS A
        ORDER BY estimateTime DESC
    </select>

</mapper>
