<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aac.optics.wlg.dashboard.mapper.MoldingMachineParamDataMapper">

    <select id="getMoldingParamData" resultType="map">
        SELECT machine_name, wafer_id, recipe_name, recipe_phase, param_name, param_value, plc_time, a.create_time
        FROM t_wlg_molding_machine_param_data a
        join t_wlg_molding_machine_param_data_base b
        on a.serial_id = b.serial_id
        join t_molding_machine_opc_ua_node c
        on a.param_id = c.id
        where machine_name = #{machineName}
        and wafer_id in
        <foreach item='waferId' index='index' collection='waferIds' open='(' separator=',' close=')'>
            #{waferId}
        </foreach>
        and description + '_' + convert(varchar, array_id) = #{paramName}
        order by a.id
    </select>

</mapper>
